<nav class="navbar navbar-expand navbar-light bg-light">
        <ul class="navbar-nav">
            <li> 
                <a class="nav-link m-2 fs-5 d-inline-block" style="width: fit-content;" routerLink="/">Home</a>
            </li>
            <li>
                <a class="nav-link fs-5 m-2" style="width: fit-content;" routerLink="/list">To Do List</a>
            </li>
        <!-- Plan of Action:
        Have home button that shows current list and list button that
        leads to a page to manipulate list
        Could just make it one page but it might work better if there is a possiblity for multiple lists
        -->
        </ul>
</nav>